@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Student_Registration_Theme.Areas.City.Models.LOC_CityModel;
@using static System.Data.DataTable;
@using Student_Registration_Theme.Areas.Country.Models

<div class="container border border-gray rounded p-5 shadow">

    <h2><i class="bi bi-gear me-2 pb-5" style="font-size: 25px"></i>State</h2>

    <hr />

    <form class="pt-3" method="post" asp-area="City" asp-controller="LOC_City" asp-action="LOC_CitySave">

        <div class="col my-4">
            <input type="text" class="form-control" asp-for="CityName" value="@Model.CityName" placeholder="City Name" aria-label="First name">
        </div>

        <div class="col my-4">
            <input type="text" class="form-control" asp-for="CityCode" value="@Model.CityCode" placeholder="City Code" aria-label="Last name">
        </div>

        <div class="col my-4 form-group">
            <select onchange="funcOnStateChange()" id="selectedCountry" class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                <option>Select Countrty</option>
            </select>
        </div>

        <div class="col my-4">
            <label>StateName</label>
            <select id="selectedState" class="form-control" asp-for="StateID">
                <option>Select State</option>
            </select>
        </div>

        <div class="col mt-4">

            <input type="hidden" name="CityID" value="@Model.CityID" />
            <button class="btn btn-primary" type="submit">Submit</button>

        </div>

    </form>

</div>

<script>
    function funcOnStateChange() {
        var CountryID = $("#selectedCountry").val();

        $("#selectedState").empty();
        $("#selectedState").append($("<option></option>").val("").html("Select State"));
        if (CountryID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("StatesForComboBox","LOC_City")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {

                        $.each(Result, function (key, value) {

                            $("#selectedState").append($("<option></option>").val(value.stateID).html(value.stateName));
                        });
                    },
                    error: function (err) {
                        alert("Error white fetch data");
                    }

                }
            )
        }
    }
</script>